.card {
    margin-top: 3rem;
}

.avatar_profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.user_details {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

}

.user_details li {
    list-style: none;
}

.user_actions {
    display: flex;
    flex-direction: row;
}