.scene {

    perspective: 600px;
}

.auth_card {

    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: none;
    position: relative;

}

.auth_card.is-flipped {
    transform: rotateY(180deg);
}

.auth_card__face {
    position: absolute;
    box-shadow: 3px 4px 12px 1px #00000070;
    border-radius: 15px;
    background:

        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    opacity: 1;
    z-index: 9;
}


.auth_card__face--back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 3px 4px 12px 1px #00000070;
    border-radius: 15px;
    transform: rotateY(180deg);

}

.auth-title {
    text-align: center;
    color: #eda31b;
    text-shadow: 2px 2px 2px #000000bd;
    border-radius: 50%;
    font-size: 1.4rem;

}



.form_actions {
    display: flex;
    justify-content: center;
}


.sign-in-link {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #3e3e3e;
    background: #eda31b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    font-weight: 900;
    z-index: 8;
    text-shadow: none;
}






.err-modal {
    color: red !important;
    background-color: red;
}