.new-quote-form {
    position: relative;
    top: 20vh;
    left: 6%;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    margin: auto;

}

.category {
    display: flex;
    color: white;
    width: 81%;
    border-radius: 15px;
    font-weight: 900;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}



.form_actions button {
    background-color: #1f1b1b;
    color: #ffffff;
    border: solid 2px #1f1b1b;
    border-radius: 5px;
    cursor: pointer;
    width: 81%;
    font-weight: 700;

}

.form_actions button:active,
.form_actions button:hover {
    border-color: #eda31b;
    background-color: #eda31b;
    color: #1f1b1b
}

.form_actions button:disabled {
    border-color: #aeaeae;
    background-color: #c2c2c2;
    color: #8c8c8c;
    cursor: not-allowed;

}

.err-modal {
    color: red !important;
    background-color: red;
}