.new-quote-form {
    position: relative;
    top: 20vh;
    left: 0;
    width: 50vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem 0 0 0px;
    border-radius: 15px;
    margin: auto;
    box-shadow: -1px 4px 7px 3px #0000005e;
    background: url(https://images.unsplash.com/photo-1580127645995-d43fe9598711?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mjg4MzU2OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
    background-size: cover;


}



.form_actions {
    display: flex;
    justify-content: center;
}

.form_actions button {
    background-color: #3e3a3a;
    color: #ffffff;
    border: solid 2px #3e3a3a;
    border-radius: 5px;
    cursor: pointer;
    width: 41vw;
    margin-top: 1rem;
    height: 2rem;
    font-weight: 900;

}

.form_actions button:active,
.form_actions button:hover {
    border-color: #eda31b;
    background-color: #eda31b;
    color: #3e3a3a
}

.form_actions button:disabled {
    border-color: #aeaeae;
    background-color: #c2c2c2;
    color: #8c8c8c;
    cursor: not-allowed;

}

.err-modal {
    color: red !important;
    background-color: red;
}