.form-control {}

.form-control label {


    display: block;
    color: #0088ff;
    font-weight: 700;


}

.form-control input,
.form-control textarea {
    border: solid 2px #0064bc;
    border-radius: 5px;
    margin: 0.5rem 0;
    width: 80%;
}

.invalid input,
.invalid textarea {
    border: solid 4px #bc0000;
    background-color: #ffd4dd;
    color: red
}

.invalid label {
    color: rgb(157, 0, 0);
}