.form-control {}

.form-control label {


    display: block;
    color: #ffffff;
    font-weight: 700;


}

.form-control input,
.form-control textarea {
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    width: 80%;
}


.form-control textarea:focus,
input:focus {
    color: #0088ff;
}

.form-control input,
select,
textarea {
    color: #0088ff;
}

.invalid input,
.invalid textarea {
    border: solid 2px #bc0000;
    background-color: #ffd4dd;
    color: red
}

.invalid label {
    color: rgb(157, 0, 0);
    font-weight: 500;
}