.quote-list {
    margin: 5rem auto;
    text-align: center;
    width: 60%;

    justify-content: center;
    align-items: center;
}

.quote-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;

}