.quote {
    padding: 5px;
    border-radius: 5px;

    color: wheat;
    text-shadow: 1px 1px 1px #00000069, 1px 1px 1px #0000006e;
    box-shadow: -5px 3px 7px 2px #0000003b;
    background-color: white;
    transition: all .2s ease-in-out;
    font-size: 25px;
    background: url(https://images.unsplash.com/photo-1580127645995-d43fe9598711?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mjg4MzU2OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
    background-size: cover;
    background-position: bottom;


}

.border-bottom:hover,
.border-bottom:active {
    color: #575146;
    border-bottom: solid 5px #f5deb394;
    color: wheat;
    text-shadow: 1px 1px 1px #00000069, 1px 1px 1px #0000006e;
    cursor: pointer;
    z-index: 2;
}

.quote h1 {
    font-size: 25px;
    font-weight: 100;
}


.mark-top {
    float: left;
}

.quote strong {
    font-size: 3rem;
    font-weight: 100;
}

.mark-bot {
    float: right;
    margin-top: -2rem;
}


.quote a {
    text-decoration: none;
    color: #575146;


}

.quote p {
    color: #575146;
    text-decoration: solid;
    font-style: italic;
    float: right;
    font-weight: 400;
    padding: 4px 6px;
    border-radius: 5px;


}

.border-bottom {

    background-color: #57514670;

    padding: 1rem;


}

.actions {
    display: flex;
    justify-content: flex-end;
}

.delete {}

.comment {

    border: none;
    margin-bottom: 5px;


}

.add-comment {}

.actions button {
    font-size: 30px;
    background-color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.actions button:hover,
.actions button:active {
    transform: scale(1.5);


}

.delete:hover,
.delete:active {}

.author {
    float: right;
    color: #575146;
    margin: auto;
    font-family: cursive;
}

@media (max-width: 500px) {
    .quote p {
        text-decoration: solid;
        font-style: italic;
        font-weight: 400;
        float: none;
        color: #0064bc;
        padding: 4px 6px;
        border-radius: 5px;

    }
}