.quote {

    padding: 5px;
    margin: 3rem 1rem;
    border-radius: 5px;

    color: #FFE000;
    box-shadow: -5px 3px 7px 2px #0000003b;
    background-color: white;
    transition: all .2s ease-in-out
}

.quote:hover,
.quote:active {
    transform: scale(1.5);
    z-index: 2;
}

.quote a {
    text-decoration: none;
    color: #0088ff;


}

.quote p {
    color: white;
    text-decoration: solid;
    font-style: italic;
    float: right;
    font-weight: 400;
    padding: 4px 6px;

    border-radius: 5px;


}
