.header {
    background: linear-gradient(90deg, transparent 24%, #0059a6 25%, #0059a6 30%, transparent 31%, transparent 39%, #0059a6 40%, #0059a6 45%, transparent 45%), linear-gradient(180deg, transparent 24%, #0059a6 25%, #0059a6 30%, transparent 31%, transparent 39%, #0059a6 40%, #0059a6 45%, transparent 45%);
    background-size: 3em 3em;
    background-color: #0088ff;
    opacity: 1;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    gap: 16rem;
    border-bottom: solid 4px #ffe000;
}

.title {
    font-size: 4rem;
    line-height: 3px;
    color: #ffe000;
    font-weight: 300;
    margin: 2rem 1rem;
}