.nav-list {

    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav-list li {
    margin: 1rem;
}

.nav-list a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;


}


.nav-list a:hover,
.nav-list a:active {
    color: #FFFFFF;
}



.nav-list a.active {

    color: #0088ff;
    background-color: #FFFFFF;
    opacity: 1;
    padding: 0.5rem;
    border: solid 3px #0088ff;
    border-radius: 5px;
}

@media (max-width: 500px) {}