.nav-list {

    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav-list li {
    margin: 1rem;
}

.nav-list a {
    color: #eda31b;
    font-weight: 700;
    text-decoration: none;



}


.nav-list a:hover,
.nav-list a:active {
    color: #FFFFFF;
}



.nav-list a.active {

    color: #eda31b;
    background-color: #f5deb3;
    opacity: 1;
    padding: 0.5rem;
    border: solid 3px #eda31b;
    border-radius: 5px;
}

@media (max-width: 500px) {}