.nav-list {

    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav-list li {
    margin: 1rem;
}

.nav-list a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    color: #FFE000;


}


.nav-list a:hover,
.nav-list a:active {
    color: #ffe000;
}



.nav-list a.active {

    color: #060074;
    background: linear-gradient(90deg, transparent 24%, #ffffff 25%, #ffffff 30%, transparent 31%, transparent 39%, #ffffff 40%, #ffffff 45%, transparent 45%), linear-gradient(180deg, transparent 24%, #ffffff 25%, #ffffff 30%, transparent 31%, transparent 39%, #ffffff 40%, #ffffff 45%, transparent 45%);
    background-size: 3em 3em;
    background-color: #FFE000;
    opacity: 1;
    padding: 0.5rem;
    border: solid 3px #060074;
}

@media (max-width: 500px) {}