.sidedrawer {
    z-index: 1000;
    position: fixed;
    top: 5rem;
    height: 100%;
    background-color: #eda31b;

}

.sidedrawer ul {


    flex-direction: column;
}

.sidedrawer li {
    background-color: #f5deb3;
}



@media (min-width: 500px) {
    .sidedrawer {
        display: none;
    }
}