.quote {
    position: relative;
    top: 0;
    left: 0;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem 0 0 0px;
    border-radius: 15px;
    margin: auto;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 2px 2px 6px 2px #00000057;
    background: url(https://images.unsplash.com/photo-1580127645995-d43fe9598711?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mjg4MzU2OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
    background-size: cover;
    color: wheat;
    background-color: #11110fa8;
    padding: 1rem;
    border-radius: 5px;


}

.details {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-end;

}


.quote h1 {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}


.mark-top {
    float: left;
    font-size: 3rem;
}

.quote strong {
    font-size: 3rem;
    font-weight: 100;
}

.mark-bot {
    float: right;
    margin-top: -2rem;
    font-size: 3rem;
}


.quote a {
    text-decoration: none;
    color: #575146;


}

.quote p {
    color: #575146;
    text-decoration: solid;
    font-style: italic;
    float: right;
    font-weight: 400;
    padding: 4px 6px;
    border-radius: 5px;


}

.border-bottom {
    background-color: #11110fa8;
    padding: 1rem;
    border-radius: 5px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.delete {}

.comment {

    border: none;
    margin-bottom: 5px;


}

.add-comment {}

.actions button {
    font-size: 30px;
    background-color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.actions button:hover,
.actions button:active {
    transform: scale(1.5);


}

.delete:hover,
.delete:active {}

.details p {
    writing-mode: vertical-lr;

    -webkit-transform: rotate(180deg);
}

.author {
    float: right;
    color: #575146;
    margin: 1rem 2rem;
    font-family: cursive;
}

.username {
    float: left;
    color: #575146;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-start;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.username p {
    writing-mode: vertical-lr;
}

@media (max-width: 500px) {
    .quote p {
        text-decoration: solid;
        font-style: italic;
        font-weight: 400;
        float: none;
        color: #0064bc;
        padding: 4px 6px;
        border-radius: 5px;

    }
}