.comments {
    background-color: #0088ff1f;
    border: solid 3px #FFE000;
    margin: 0;
    padding: 0 1rem;
    width: 40%;
    background: linear-gradient(90deg, transparent 24%, #FFE000 25%, #FFE000 30%, transparent 31%, transparent 39%, #FFE000 40%, #FFE000 45%, transparent 45%), linear-gradient(180deg, transparent 24%, #FFE000 25%, #FFE000 30%, transparent 31%, transparent 39%, #FFE000 40%, #FFE000 45%, transparent 45%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1;
}

.comments ul {
    display: flex;
    flex-direction: column;

}

.comments li {
    list-style: none;
    border-bottom: solid 2px #0059a68c;
    line-height: 1px;

    padding: 0 0.5rem;
}

.comments h1 {
    margin: 12px 0;
    font-size: 18px;
    font-weight: 400;
    color: #0059a6;
    text-align: left;
    font-style: italic;

}

.comments h6 {
    color: #0088ff;
    font-weight: 200;
    font-size: 8px;
    text-align: left;
    margin: 5px 0;

}

.comments p {
    float: right;
    color: #0088ff;
    font-size: 12px;
    font-weight: 100;
    text-align: right;
    margin: 12px 0;

}



.comments button {
    color: white;
    background-color: #0059a6;
    border: solid 3px #0058a5;
    border-radius: 5px;
    margin: 1rem;
    float: right;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
}


.comments button:hover,
.comments button:active {
    background-color: #0088ff;
    border-color: #0088ff
}

.single-comment {
    display: flex;
    line-height: 1px;
    flex-direction: column;
    box-shadow: -7px 4px 6px 0px #00000094;
    margin: 1rem 0;
    background-color: white;
    align-items: stretch;
}

.discard_btn {
    color: white;
    background-color: #9a0000;
    border: solid 2px #9a0000;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.discard_btn:hover,
.discard_btn:active {
    color: #9a0000;
    background-color: #fd8f8f;
    border-color: #fd8f8f;
}