body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, transparent 24%, #0059a641 25%, #0059a641 30%, transparent 31%, transparent 39%, #0059a641 40%, #0059a641 45%, transparent 45%), linear-gradient(180deg, transparent 24%, #0059a641 25%, #0059a641 30%, transparent 31%, transparent 39%, #0059a641 40%, #0059a641 45%, transparent 45%);
  background-size: 3em 3em;
  background-color: #0088ff;
  opacity: 1;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  margin: 6rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.btn {
  color: #0088ff;
  background-color: #ffffff;
  border: solid 3px #0088ff;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  float: left;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
}


.btn:hover,
.btn:active {
  color: #ffffff;
  background-color: #0088ff;
  border-color: #0088ff
}

.btn:disabled {
  border-color: #aeaeae;
  background-color: #c2c2c2;
  color: #8c8c8c;
  cursor: not-allowed;
}

.btn_flat {
  color: #ffffff;
  background-color: #0059a6;
  border: solid 3px #0059a6;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem 0.6rem;
  float: left;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
}

.btn_flat:hover,
.btn_flat:active {
  color: #0059a6;
  background-color: white;
  border-color: white;
}

.btn_flat:disabled {
  border-color: #aeaeae;
  background-color: #c2c2c2;
  color: #8c8c8c;
  cursor: not-allowed;
}

.loading {
  color: #0059a6;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #c22d2d;
  border: solid 3px #940000;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem 0.6rem;
  float: left;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
}

.btn-warning:hover,
.btn-warning:active {
  color: #ffffff;
  background-color: #9b0000;
  border: solid 3px #9b0000;

}