.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, transparent 24%, #0059a641 25%, #0059a641 30%, transparent 31%, transparent 39%, #0059a641 40%, #0059a641 45%, transparent 45%), linear-gradient(180deg, transparent 24%, #0059a641 25%, #0059a641 30%, transparent 31%, transparent 39%, #0059a641 40%, #0059a641 45%, transparent 45%);
    background-size: 3em 3em;
    background-color: #0088ff;
    opacity: 1;
    width: 50%;
    border-radius: 5px;
    z-index: 10;

}

.modal_content {
    padding: 1rem;
    color: white
}

.modal_header p {
    color: #0088ff;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-style: italic;
}


.modal_footer button {
    color: #0088ff;
    background-color: white;
    border: solid 3px white;
    border-radius: 5px;
    margin: 1rem;
    float: right;
    cursor: pointer;
    font-weight: 900;

}

.footer_toolbar {
    float: left;
    margin: 1rem;
}